.wrapper {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.shop {
    display: flex;
    gap: 105px;
}
.heading {
    font-weight: 800;
    font-size: 70px;
    line-height: 140%;
    text-align: center;
    color: #025162;  
    margin-bottom: 60px;  
}
.createBtn {
    display: block;
    margin-left: auto;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 0;
    padding: 5px;
    background-color: #025162;
    font-weight: 300;
    color: white;
    cursor: pointer; 
}