.wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.checkBlock {
    border: 1px solid #025162;
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.text {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 162%;
    color: #414141;
}