.heading {
    font-weight: 600;
    font-size: 25px;
    line-height: 133%;
    color: #025162;
    margin-bottom: 50px;    
}
.searchFilter {
    border: 1px solid #025162;
    width: 255px;
    margin-bottom: 20px;
}